*{box-sizing: border-box;}

body{
    background-image: linear-gradient(to right, #2953a1, #315aa8, #3861b0, #3f68b7, #466fbf, #387dcb, #258ad6, #0098df, #00aee7, #00c2e8, #00d5e5, #45e7de);    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    margin: 0;
    min-height: 100vh;
}

canvas {
    border: 1px solid #3861b0;
    background-color: #ffffff;
}

.toolbox{
    background-image: linear-gradient(to right, #2953a1, #315aa8, #3861b0, #3f68b7, #466fbf, #387dcb, #258ad6, #0098df, #00aee7, #00c2e8, #00d5e5, #45e7de);    padding: 1rem;
    border: 1px solid #ffffff;
    display: flex;
    width: 800px;
}

.toolbox > * {
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    padding: 0.25rem;
    
    height: 50px;
    width: 50px;
    
}

.toolbox > *:last-child{
    margin-left: auto;
    justify-content: center;
    color: red;
}